.TodoListContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  .TodoList {
    width: 100%;
    max-width: 1000px;

    //display: flex;
    //flex-direction: column;
    //justify-content: center;
    //max-width: 50vw;
  }

  .headerlistAction{
    button{
      margin: 5px;
    }
  }

  .footerlistAction{
    button{
      margin: 5px;
    }
  }
}

